# Imports

In [1]:
import pandas as pd

# Itemset Analysis

## Markdown Cells

In [52]:
# load in the itemsets
md_itemsets_original = pd.read_pickle('md_frequent_itemsets.pkl')

In [73]:
# copy the original dataframe
md_itemsets = md_itemsets_original.copy()

In [70]:
# initial look at the data
md_itemsets.head()

    support              itemsets  length
0  0.543867  (longer_beginning_T)       1
1  0.741161     (longer_ending_F)       1
2  0.953296        (has_author_F)       1
3  0.806198      (has_equation_F)       1
4  0.787429   (jupyter_prop_high)       1

In [74]:
# filter out itemsets with length 1
md_itemsets = md_itemsets[md_itemsets['length'] > 1]
md_itemsets.head()

     support                                   itemsets  length
19  0.515932         (has_author_F, longer_beginning_T)       2
20  0.503710    (longer_beginning_T, num_contrib_lower)       2
21  0.503274       (longer_beginning_T, has_comments_T)       2
22  0.516368  (exec_inorder_higher, longer_beginning_T)       2
23  0.713226            (has_author_F, longer_ending_F)       2

In [75]:
# drop all sets that are subsets of other sets
num_itemsets = len(md_itemsets)
for index in md_itemsets.index:
    
    # check if this index is a subset of a later frozenset
    for i in range(index + 1, num_itemsets):
        if md_itemsets.loc[index]['itemsets'].issubset(md_itemsets.loc[i]['itemsets']):
            md_itemsets = md_itemsets.drop(index = index)
            break

In [77]:
# look at the filtered itemsets
md_itemsets

       support                                           itemsets  length
19    0.515932                 (has_author_F, longer_beginning_T)       2
20    0.503710            (longer_beginning_T, num_contrib_lower)       2
21    0.503274               (longer_beginning_T, has_comments_T)       2
22    0.516368          (exec_inorder_higher, longer_beginning_T)       2
39    0.516805                     (has_author_F, image_prop_low)       2
...        ...                                                ...     ...
1262  0.522916  (has_error_F, num_commits_lower, num_contrib_l...       6
1263  0.502837  (has_comments_T, has_author_F, num_commits_low...       7
1264  0.512003  (has_error_F, has_comments_T, has_author_F, nu...       7
1265  0.504583  (has_error_F, has_comments_T, has_author_F, nu...       7
1266  0.505020  (has_error_F, has_author_F, num_commits_lower,...       7

[301 rows x 3 columns]

In [84]:
# create a copy of the filtered dataframe we will export
md_itemsets_export = md_itemsets.copy()

# change itemset column to string
md_itemsets_export['itemsets'] = md_itemsets_export['itemsets'].apply(lambda x : str(x).replace('frozenset', ''))

In [86]:
# check the export dataframe
md_itemsets_export

       support                                           itemsets  length
19    0.515932           ({'has_author_F', 'longer_beginning_T'})       2
20    0.503710      ({'longer_beginning_T', 'num_contrib_lower'})       2
21    0.503274         ({'longer_beginning_T', 'has_comments_T'})       2
22    0.516368    ({'exec_inorder_higher', 'longer_beginning_T'})       2
39    0.516805               ({'has_author_F', 'image_prop_low'})       2
...        ...                                                ...     ...
1262  0.522916  ({'has_error_F', 'num_commits_lower', 'num_con...       6
1263  0.502837  ({'has_comments_T', 'has_author_F', 'num_commi...       7
1264  0.512003  ({'has_error_F', 'has_comments_T', 'has_author...       7
1265  0.504583  ({'has_error_F', 'has_comments_T', 'has_author...       7
1266  0.505020  ({'has_error_F', 'has_author_F', 'num_commits_...       7

[301 rows x 3 columns]

In [87]:
# export the dataframe
md_itemsets_export.to_csv('md_itemsets_filtered.csv')