# Imports

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# Loading the Data

In [49]:
md_original = pd.read_pickle('full_markdown_group.pkl')
no_md_original = pd.read_pickle('full_no_markdown_group.pkl')

In [3]:
md_original.head()

,nb_id,repo_id,longer_beginning,longer_ending,has_author,has_equation,jupyter_prop,output_cell_prop,markdown_prop,num_contrib,...,exec_inorder,exec_skips,has_error,has_export,num_functions,has_test,num_headers,has_param,has_reqtext,num_stars
79,106,165198456,True,True,False,False,0.930911,0.363636,0.775510,1.0,...,0.75,4.500000,False,False,2.0,False,27.0,False,False,1.0
80,107,165198456,True,True,False,False,0.930911,0.000000,0.775510,1.0,...,1.00,0.000000,False,False,2.0,False,27.0,False,False,1.0
81,108,165197188,False,False,False,False,1.000000,0.560000,0.390244,1.0,...,1.00,1.913043,False,False,6.0,False,13.0,False,False,1.0
82,109,165197188,False,False,False,False,1.000000,0.560000,0.390244,1.0,...,1.00,1.913043,False,False,6.0,False,13.0,False,False,1.0
83,110,165197188,False,False,False,False,1.000000,0.588235,0.346154,1.0,...,1.00,0.000000,False,False,8.0,False,13.0,False,False,1.0

In [4]:
no_md_original.head()

,nb_id,repo_id,has_author,jupyter_prop,output_cell_prop,num_contrib,image_prop,is_education,has_comments,num_commits,non_exec_prop,exec_inorder,exec_skips,has_error,has_export,num_functions,has_test,has_param,has_reqtext,num_stars
85,113,165197465,False,1.000000,0.500000,1.0,0.000000,False,True,1.0,0.500000,1.000000,0.000000,False,False,1.0,False,False,False,0.0
90,118,165198993,False,1.000000,0.571429,1.0,0.416667,False,True,1.0,0.047619,0.944444,4.555556,False,False,1.0,False,False,False,0.0
91,119,165198993,False,1.000000,0.595745,1.0,0.571429,False,True,1.0,0.000000,0.956522,3.543478,True,True,1.0,False,False,False,0.0
94,122,165198375,False,0.578178,0.000000,1.0,0.000000,False,True,1.0,0.976190,1.000000,0.000000,False,True,21.0,False,False,False,0.0
109,137,165196460,False,0.967215,0.727273,1.0,0.250000,False,False,1.0,0.000000,1.000000,1.400000,False,False,0.0,False,False,False,0.0

In [2]:
combined_original = pd.read_pickle('full_groups_combined.pkl')

In [3]:
combined_original.head()

,nb_id,repo_id,has_author,jupyter_prop,output_cell_prop,num_contrib,image_prop,is_education,has_comments,num_commits,non_exec_prop,exec_inorder,exec_skips,has_error,has_export,num_functions,has_test,has_param,has_reqtext,num_stars
79,106,165198456,False,0.930911,0.363636,1.0,0.0,True,True,3.0,0.545455,0.75,4.500000,False,False,2.0,False,False,False,1.0
80,107,165198456,False,0.930911,0.000000,1.0,0.0,True,True,1.0,1.000000,1.00,0.000000,False,False,2.0,False,False,False,1.0
81,108,165197188,False,1.000000,0.560000,1.0,0.0,True,True,1.0,0.000000,1.00,1.913043,False,False,6.0,False,False,False,1.0
82,109,165197188,False,1.000000,0.560000,1.0,0.0,True,True,1.0,0.000000,1.00,1.913043,False,False,6.0,False,False,False,1.0
83,110,165197188,False,1.000000,0.588235,1.0,0.0,True,True,1.0,0.970588,1.00,0.000000,False,False,8.0,False,False,False,1.0

In [2]:
no_dups_original = pd.read_pickle('full_no_repo_dups.pkl')

In [3]:
no_dups_original.head()

    nb_id    repo_id has_author  jupyter_prop  output_cell_prop  num_contrib  image_prop is_education has_comments  num_commits  non_exec_prop  exec_inorder  exec_skips has_error has_export  num_functions has_test has_param has_reqtext  num_stars
79    106  165198456      False      0.930911          0.363636          1.0    0.000000         True         True          3.0       0.545455          0.75    4.500000     False      False            2.0    False     False       False        1.0
81    108  165197188      False      1.000000          0.560000          1.0    0.000000         True         True          1.0       0.000000          1.00    1.913043     False      False            6.0    False     False       False        1.0
88    116  165201963      False      1.000000          0.666667          1.0    0.187500         True         True          1.0       0.041667          1.00    1.227273     False      False            8.0    False     False       False        0.0
89    117  165200414      False      1.000000          0.000000          1.0    0.000000         True         True          1.0       1.000000          1.00    0.000000     False       True            0.0    False     False       False        0.0
92    120  165200582      False      1.000000          0.545455          0.0    0.833333        False         True          2.0       0.000000          1.00    1.222222     False       True            0.0    False     False       False        0.0

# Loading Clustering Output

## Markdown Cells

In [50]:
# loading clusters
md_clusters3 = pd.read_feather('prototypes-output/md_clusters3.feather')
md_clusters4 = pd.read_feather('prototypes-output/md_clusters4.feather')
len(md_clusters3)

69840

In [51]:
len(md_original)

69840

In [52]:
md_clusters4.head()

   md_kprotos2$cluster
0                    1
1                    1
2                    4
3                    4
4                    4

In [53]:
md_df = md_original.copy()

In [54]:
md_df['cluster3'] = md_clusters3[['md_kprotos$cluster']].to_numpy()
md_df['cluster4'] =  md_clusters4[['md_kprotos2$cluster']].to_numpy()

In [55]:
md_df['cluster3'].value_counts()

2    37909
3    31825
1      106
Name: cluster3, dtype: int64

In [56]:
md_df['cluster4'].value_counts()

4    31078
2    24305
1    14351
3      106
Name: cluster4, dtype: int64

In [57]:
md_dists3 = pd.read_feather('prototypes-output/md_dists3.feather')
md_dists4 = pd.read_feather('prototypes-output/md_dists4.feather')
len(md_dists3)

3

In [58]:
md_dists3 = md_dists3.transpose()
md_dists4 = md_dists4.transpose()

In [59]:
md_dists3.head()

              0             1             2
1  1.799050e+07  10364.485493  60840.067477
2  1.799050e+07  10379.715955  60872.917058
3  1.797007e+07  30256.305434  20268.398243
4  1.797007e+07  30256.305434  20268.398243
5  1.797008e+07  30275.295282  20299.264713

In [60]:
md_dists4.head()

              0             1             2             3
1    261.994342  10388.717599  1.799050e+07  60856.436691
2    275.032842  10405.220573  1.799050e+07  60889.726773
3  40293.614343  30260.377116  1.797007e+07  20277.048117
4  40293.614343  30260.377116  1.797007e+07  20277.048117
5  40311.349367  30280.027640  1.797008e+07  20308.262810

In [64]:
md_dists_sorted = md_dists3.sort_values(0)
md_dists_sorted.head()

                   0             1             2
38155  422189.685949  1.282433e+07  1.281411e+07
38178  422192.704817  1.282434e+07  1.281412e+07
38159  422208.899944  1.282420e+07  1.281417e+07
38177  432199.609241  1.283429e+07  1.282413e+07
38152  432206.166924  1.283431e+07  1.282416e+07

In [65]:
md_dists_sorted = md_dists4.sort_values(2)
md_dists_sorted.head()

                  0             1              2             3
38155  1.283906e+07  1.282335e+07  422189.685949  1.281272e+07
38178  1.283906e+07  1.282336e+07  422192.704817  1.281273e+07
38159  1.283888e+07  1.282324e+07  422208.899944  1.281279e+07
38177  1.282890e+07  1.283331e+07  432199.609241  1.282274e+07
38152  1.282892e+07  1.283333e+07  432206.166924  1.282277e+07

In [82]:
md_centers = pd.read_feather('prototypes-output/md_centers4.feather')
md_centers.head()

  longer_beginning longer_ending has_author has_equation  jupyter_prop  output_cell_prop  markdown_prop  num_contrib  image_prop is_education has_links has_comments  md_frequency has_title  num_commits md_format  non_exec_prop  exec_inorder  exec_skips has_error has_export  num_functions has_test  num_headers has_param has_reqtext    num_stars
0             True          True      False        False      0.952678          0.508432       0.507099     2.110863    0.280837         True      True         True      0.645384      True     1.952686      True       0.244590      0.954190    3.644410     False      False       5.257404    False    14.435440     False       False    10.492788
1             True         False      False        False      0.954788          0.496626       0.419823     1.999753    0.273038         True      True         True      0.565110      True     2.006130      True       0.216927      0.947871    4.003407     False      False       5.130673    False    12.106850     False       False    11.276281
2            False         False      False        False      0.957417          0.285742       0.425909    16.462264    0.098728         True      True         True      0.593442     False     3.990566     False       0.597247      0.974321    1.199675     False      False       3.386792    False     7.971698     False       False  4237.707547
3            False         False      False        False      0.957700          0.509488       0.267329     1.712433    0.321173        False     False         True      0.430550     False     1.796673     False       0.161198      0.932469    5.954209     False      False       4.124236    False     5.861767     False       False    11.348060

In [85]:
md_df[md_df['cluster4'] == 3]['num_stars']

52961     5239.0
69813     2895.0
69814     2895.0
69815     2895.0
69816     2895.0
69817     2895.0
69818     2895.0
69819     2895.0
69820     2895.0
69821     2895.0
69822     2895.0
69823     2895.0
69824     2895.0
69825     2895.0
69826     2895.0
69827     2895.0
69828     2895.0
69829     2895.0
69830     2895.0
69831     2895.0
69832     2895.0
69833     2895.0
69834     2895.0
69835     2895.0
69836     2895.0
69837     2895.0
69838     2895.0
69839     2895.0
75870     3588.0
75876     3588.0
75879     3588.0
75880     3588.0
75884     3588.0
75887     3588.0
75891     3588.0
75892     3588.0
75893     3588.0
75894     3588.0
75896     3588.0
75899     3588.0
75901     3588.0
75902     3588.0
75904     3588.0
75906     3588.0
75907     3588.0
75913     3588.0
75914     3588.0
75916     3588.0
75919     3588.0
75921     3588.0
75923     3588.0
75924     3588.0
75926     3588.0
75928     3588.0
75933     3588.0
75934     3588.0
75936     3588.0
75938     3588.0
75942     3588.0
75943     3588.0
75945     3588.0
75946     3588.0
75947     3588.0
75948     3588.0
75949     3588.0
75950     3588.0
75952     3588.0
75957     3588.0
75958     3588.0
75959     3588.0
75960     3588.0
75962     3588.0
75966     3588.0
75968     3588.0
75970     3588.0
75971     3588.0
75972     3588.0
75976     3588.0
75980     3588.0
75981     3588.0
75984     3588.0
75985     3588.0
75986     3588.0
75988     3588.0
75989     3588.0
75992     3588.0
75993     3588.0
75997     3588.0
75998     3588.0
77449     9794.0
91872     5919.0
91874     5919.0
91882     5919.0
91896     5919.0
91901     5919.0
91904     5919.0
91905     5919.0
91906     5919.0
91909     5919.0
96954    11980.0
96957    11980.0
96963    11980.0
96964    11980.0
96968    11980.0
96969    11980.0
96970    11980.0
Name: num_stars, dtype: float64

## No Markdown Cells

In [66]:
# loading clusters
no_md_clusters3 = pd.read_feather('prototypes-output/no_md_clusters3.feather')
no_md_clusters4 = pd.read_feather('prototypes-output/no_md_clusters4.feather')
len(no_md_clusters4)

35898

In [67]:
len(no_md_original)

35898

In [68]:
no_md_clusters4.head()

   no_md_kprotos2$cluster
0                       1
1                       1
2                       2
3                       2
4                       4

In [69]:
no_md_df = no_md_original.copy()

In [70]:
no_md_df['cluster3'] = no_md_clusters3[['no_md_kprotos$cluster']].to_numpy()
no_md_df['cluster4'] = no_md_clusters4[['no_md_kprotos2$cluster']].to_numpy()

In [71]:
no_md_df['cluster3'].value_counts()

3    26747
1     9125
2       26
Name: cluster3, dtype: int64

In [72]:
no_md_df['cluster4'].value_counts()

1    16730
2    10393
4     8749
3       26
Name: cluster4, dtype: int64

In [35]:
no_md_dists3 = pd.read_feather('prototypes-output/no_md_dists3.feather')
no_md_dists4 = pd.read_feather('prototypes-output/no_md_dists4.feather')

In [69]:
no_md_dists3 = no_md_dists3.transpose()
no_md_dists4 = no_md_dists4.transpose()

In [70]:
no_md_dists3.head()

              0             1             2
1   9698.748633  1.653712e+07     89.666530
2   9688.363170  1.653714e+07     57.263361
3  28984.617506  1.655643e+07  19358.392020
4  19745.927726  1.654712e+07  10035.269534
5     43.473698  1.654677e+07   9730.163241

In [71]:
no_md_dists4.head()

              0             1             2             3
1     77.689311   9777.090617  1.653712e+07   9685.498341
2     51.551829   9731.997785  1.653714e+07   9679.151900
3  19351.285974   9738.484535  1.655643e+07  28974.508650
4  10054.272195    376.391795  1.654712e+07  19735.814970
5   9718.550515  19416.150506  1.654677e+07     31.306045

In [72]:
no_md_dists_sorted = no_md_dists3.sort_values(1)
no_md_dists_sorted.head()

                  0              1             2
20864  1.284918e+07  227898.519667  1.283389e+07
20870  1.284919e+07  227901.211974  1.283390e+07
20868  1.284918e+07  227901.902553  1.283390e+07
20876  1.284919e+07  227904.519667  1.283390e+07
20874  1.284920e+07  227905.904282  1.283391e+07

In [73]:
no_md_dists_sorted = no_md_dists4.sort_values(2)
no_md_dists_sorted.head()

                  0             1              2             3
20864  1.283440e+07  1.283745e+07  227898.519667  1.285570e+07
20870  1.283440e+07  1.283745e+07  227901.211974  1.285571e+07
20868  1.283440e+07  1.283745e+07  227901.902553  1.285570e+07
20876  1.283441e+07  1.283746e+07  227904.519667  1.285571e+07
20874  1.283441e+07  1.283746e+07  227905.904282  1.285572e+07

In [23]:
no_md_centers = pd.read_feather('prototypes-output/no_md_centers4.feather')
no_md_centers.head()

,has_author,jupyter_prop,output_cell_prop,num_contrib,image_prop,is_education,has_comments,num_commits,non_exec_prop,exec_inorder,exec_skips,has_error,has_export,num_functions,has_test,has_param,has_reqtext,num_stars
0,False,0.939261,0.451624,1.827137,0.262994,False,True,1.427735,0.118255,0.928145,5.126860,False,False,2.826718,False,False,False,6.853796
1,False,0.938024,0.411879,1.795632,0.272915,False,True,1.627057,0.149014,0.908285,7.209854,False,True,4.820360,False,False,False,7.780525
2,False,0.942464,0.174806,11.692308,0.071649,True,True,3.153846,0.832387,1.000000,0.492796,False,False,2.153846,False,False,False,4065.384615
3,False,0.940113,0.391351,1.645788,0.220610,False,False,1.279918,0.096751,0.946763,2.957586,False,False,0.982398,False,False,False,5.224254

In [76]:
no_md_df[no_md_df['cluster4'] == 3]['num_stars']

75873    3588.0
75875    3588.0
75878    3588.0
75881    3588.0
75882    3588.0
75885    3588.0
75890    3588.0
75895    3588.0
75909    3588.0
75918    3588.0
75922    3588.0
75927    3588.0
75931    3588.0
75935    3588.0
75941    3588.0
75955    3588.0
75956    3588.0
75961    3588.0
75964    3588.0
75967    3588.0
75973    3588.0
75977    3588.0
75978    3588.0
75994    3588.0
77416    9794.0
77458    9794.0
Name: num_stars, dtype: float64

## Combined

In [6]:
# loading clusters
combined_clusters4 = pd.read_feather('prototypes-output/combined_clusters4.feather')
len(combined_clusters4)

105738

In [5]:
len(combined_original)

105738

In [8]:
combined_clusters4.head()

   combined_kprotos$cluster
0                         3
1                         3
2                         3
3                         3
4                         3

In [7]:
combined_df = combined_original.copy()

In [87]:
combined_df['cluster4'] = combined_clusters4[['combined_kprotos$cluster']].to_numpy()

In [88]:
combined_df['cluster4'].value_counts()

3    42063
4    40095
1    23448
2      132
Name: cluster4, dtype: int64

The same notebooks placed in the skewed cluster were also placed in the skewed cluster here!

In [12]:
combined_dists4 = pd.read_feather('prototypes-output/combined_dists4.feather')
len(combined_dists4)

4

In [13]:
combined_dists4 = combined_dists4.transpose()

In [14]:
combined_dists4.head()

              0             1          2             3
1  32475.431137  1.766346e+07  47.224595  16224.586370
2  32526.105599  1.766346e+07  60.072190  16244.405498
3  32483.405764  1.766346e+07  45.069399  16240.340131
4  32483.405764  1.766346e+07  45.069399  16240.340131
5  32514.523120  1.766348e+07  66.174067  16272.138317

In [20]:
combined_dists_sorted = combined_dists4.sort_values(1)
combined_dists_sorted.head()

                  0              1             2             3
38128  1.280794e+07  379180.513134  1.282258e+07  1.281926e+07
38159  1.280794e+07  379182.452528  1.282258e+07  1.281925e+07
38146  1.280795e+07  379185.088891  1.282259e+07  1.281926e+07
90704  1.280795e+07  379185.088891  1.282259e+07  1.281926e+07
38180  1.280794e+07  379185.104043  1.282258e+07  1.281925e+07

In [90]:
combined_centers = pd.read_feather('prototypes-output/combined_centers4.feather')
combined_centers.head()

  has_author  jupyter_prop  output_cell_prop  num_contrib  image_prop is_education has_comments  num_commits  non_exec_prop  exec_inorder  exec_skips has_error has_export  num_functions has_test has_param has_reqtext    num_stars
0      False      0.945568          0.434943     1.810901    0.290732        False         True     1.942468       0.169223      0.914532    7.826847     False       True       5.947629    False     False       False    13.720531
1      False      0.954472          0.263891    15.522727    0.093394         True         True     3.825758       0.643562      0.979379    1.060441     False      False       3.143939    False     False       False  4203.765152
2      False      0.955011          0.505675     1.961082    0.281673         True         True     1.804626       0.214024      0.949045    3.685852     False      False       4.467109    False     False       False     7.154102
3      False      0.947422          0.473685     1.765657    0.278069        False         True     1.575209       0.129578      0.937726    4.555856     False      False       2.667340    False     False       False     9.874523

In [94]:
combined_df[combined_df['cluster4'] == 2][['nb_id', 'repo_id', 'num_stars']]

        nb_id    repo_id  num_stars
52961   55915  168269440     5239.0
69813   73505  170161374     2895.0
69814   73506  170161374     2895.0
69815   73507  170161374     2895.0
69816   73508  170161374     2895.0
69817   73509  170161374     2895.0
69818   73510  170161374     2895.0
69819   73511  170161374     2895.0
69820   73512  170161374     2895.0
69821   73513  170161374     2895.0
69822   73514  170161374     2895.0
69823   73515  170161374     2895.0
69824   73516  170161374     2895.0
69825   73517  170161374     2895.0
69826   73518  170161374     2895.0
69827   73519  170161374     2895.0
69828   73520  170161374     2895.0
69829   73521  170161374     2895.0
69830   73522  170161374     2895.0
69831   73523  170161374     2895.0
69832   73524  170161374     2895.0
69833   73525  170161374     2895.0
69834   73526  170161374     2895.0
69835   73527  170161374     2895.0
69836   73528  170161374     2895.0
69837   73529  170161374     2895.0
69838   73530  170161374     2895.0
69839   73531  170161374     2895.0
75870   79840  171490796     3588.0
75876   79846  171490796     3588.0
75879   79849  171490796     3588.0
75880   79850  171490796     3588.0
75884   79854  171490796     3588.0
75887   79857  171490796     3588.0
75891   79861  171490796     3588.0
75892   79862  171490796     3588.0
75893   79863  171490796     3588.0
75894   79864  171490796     3588.0
75896   79866  171490796     3588.0
75899   79869  171490796     3588.0
75901   79871  171490796     3588.0
75902   79872  171490796     3588.0
75904   79874  171490796     3588.0
75906   79876  171490796     3588.0
75907   79877  171490796     3588.0
75913   79883  171490796     3588.0
75914   79884  171490796     3588.0
75916   79886  171490796     3588.0
75919   79889  171490796     3588.0
75921   79891  171490796     3588.0
75923   79893  171490796     3588.0
75924   79894  171490796     3588.0
75926   79897  171490796     3588.0
75928   79899  171490796     3588.0
75933   79904  171490796     3588.0
75934   79905  171490796     3588.0
75936   79907  171490796     3588.0
75938   79909  171490796     3588.0
75942   79913  171490796     3588.0
75943   79914  171490796     3588.0
75945   79916  171490796     3588.0
75946   79917  171490796     3588.0
75947   79918  171490796     3588.0
75948   79919  171490796     3588.0
75949   79920  171490796     3588.0
75950   79921  171490796     3588.0
75952   79923  171490796     3588.0
75957   79928  171490796     3588.0
75958   79929  171490796     3588.0
75959   79930  171490796     3588.0
75960   79931  171490796     3588.0
75962   79933  171490796     3588.0
75966   79937  171490796     3588.0
75968   79939  171490796     3588.0
75970   79941  171490796     3588.0
75971   79942  171490796     3588.0
75972   79943  171490796     3588.0
75976   79947  171490796     3588.0
75980   79951  171490796     3588.0
75981   79952  171490796     3588.0
75984   79955  171490796     3588.0
75985   79956  171490796     3588.0
75986   79957  171490796     3588.0
75988   79959  171490796     3588.0
75989   79960  171490796     3588.0
75992   79963  171490796     3588.0
75993   79964  171490796     3588.0
75997   79968  171490796     3588.0
75998   79969  171490796     3588.0
77449   81483  171795571     9794.0
91872   96439  174692116     5919.0
91874   96442  174692116     5919.0
91882   96450  174692116     5919.0
91896   96465  174692116     5919.0
91901   96471  174692116     5919.0
91904   96475  174692116     5919.0
91905   96476  174692116     5919.0
91906   96477  174692116     5919.0
91909   96483  174692116     5919.0
96954  101718  175635390    11980.0
96957  101724  175635390    11980.0
96963  101735  175635390    11980.0
96964  101736  175635390    11980.0
96968  101743  175635390    11980.0
96969  101744  175635390    11980.0
96970  101748  175635390    11980.0
75873   79843  171490796     3588.0
75875   79845  171490796     3588.0
75878   79848  171490796     3588.0
75881   79851  171490796     3588.0
75882   79852  171490796     3588.0
75885   79855  171490796     3588.0
75890   79860  171490796     3588.0
75895   79865  171490796     3588.0
75909   79879  171490796     3588.0
75918   79888  171490796     3588.0
75922   79892  171490796     3588.0
75927   79898  171490796     3588.0
75931   79902  171490796     3588.0
75935   79906  171490796     3588.0
75941   79912  171490796     3588.0
75955   79926  171490796     3588.0
75956   79927  171490796     3588.0
75961   79932  171490796     3588.0
75964   79935  171490796     3588.0
75967   79938  171490796     3588.0
75973   79944  171490796     3588.0
75977   79948  171490796     3588.0
75978   79949  171490796     3588.0
75994   79965  171490796     3588.0
77416   81450  171795571     9794.0
77458   81492  171795571     9794.0

In [96]:
interesting_nb_ids = combined_df[combined_df['cluster4'] == 2]['nb_id'].to_numpy()

# Analyzing the Interesting Cluster

In [95]:
notebooks_df = pd.read_pickle('../full-dataset/notebooks.pkl')
repositories_df = pd.read_pickle('../full-dataset/repositories.pkl')

In [99]:
len(interesting_nb_ids)

132

In [98]:
notebooks_df[notebooks_df['nb_id'].isin(interesting_nb_ids)]

         nb_id    repo_id                                            nb_name                                   repo_name                                           filepath  filtered                                            nb_path
55915    55915  168269440                                inspect_model.ipynb         dragen1860/TensorFlow-2.x-Tutorials  dragen1860~TensorFlow-2.x-Tutorials_nb/inspect...     False                  16-fasterRCNN/inspect_model.ipynb
73505    73505  170161374   21_deployment_on_azure_container_instances.ipynb            microsoft/computervision-recipes  microsoft~computervision-recipes_nb/21_deploym...     False  scenarios/classification/21_deployment_on_azur...
73506    73506  170161374      24_exploring_hyperparameters_on_azureml.ipynb            microsoft/computervision-recipes  microsoft~computervision-recipes_nb/24_explori...     False  scenarios/classification/24_exploring_hyperpar...
73507    73507  170161374                 02_multilabel_classification.ipynb            microsoft/computervision-recipes  microsoft~computervision-recipes_nb/02_multila...     False  scenarios/classification/02_multilabel_classif...
73508    73508  170161374                 11_exploring_hyperparameters.ipynb            microsoft/computervision-recipes  microsoft~computervision-recipes_nb/11_explori...     False  scenarios/classification/11_exploring_hyperpar...
73509    73509  170161374                  20_deployment_on_kubernetes.ipynb            microsoft/computervision-recipes  microsoft~computervision-recipes_nb/20_deploym...     False  scenarios/detection/20_deployment_on_kubernete...
73510    73510  170161374                             02_training_hmdb.ipynb            microsoft/computervision-recipes  microsoft~computervision-recipes_nb/02_trainin...     False  scenarios/action_recognition/02_training_hmdb....
73511    73511  170161374    22_deployment_on_azure_kubernetes_service.ipynb            microsoft/computervision-recipes  microsoft~computervision-recipes_nb/22_deploym...     False  scenarios/classification/22_deployment_on_azur...
73512    73512  170161374            3_deployment_to_azure_app_service.ipynb            microsoft/computervision-recipes  microsoft~computervision-recipes_nb/3_deployme...     False  contrib/html_demo/JupyterCode/3_deployment_to_...
73513    73513  170161374                                    00_webcam.ipynb            microsoft/computervision-recipes  microsoft~computervision-recipes_nb/00_webcam....     False       scenarios/action_recognition/00_webcam.ipynb
73514    73514  170161374                            12_fast_retrieval.ipynb            microsoft/computervision-recipes  microsoft~computervision-recipes_nb/12_fast_re...     False       scenarios/similarity/12_fast_retrieval.ipynb
73515    73515  170161374                      10_video_transformation.ipynb            microsoft/computervision-recipes  microsoft~computervision-recipes_nb/10_video_t...     False  scenarios/action_recognition/10_video_transfor...
73516    73516  170161374                     01_training_introduction.ipynb            microsoft/computervision-recipes  microsoft~computervision-recipes_nb/01_trainin...     False  scenarios/action_recognition/01_training_intro...
73517    73517  170161374                    1_image_similarity_export.ipynb            microsoft/computervision-recipes  microsoft~computervision-recipes_nb/1_image_si...     False  contrib/html_demo/JupyterCode/1_image_similari...
73518    73518  170161374                                     tutorial.ipynb            microsoft/computervision-recipes  microsoft~computervision-recipes_nb/tutorial.i...     False  contrib/crowd_counting/crowdcounting/examples/...
73519    73519  170161374                             03_keypoint_rcnn.ipynb            microsoft/computervision-recipes  microsoft~computervision-recipes_nb/03_keypoin...     False         scenarios/detection/03_keypoint_rcnn.ipynb
73520    73520  170161374               23_aci_aks_web_service_testing.ipynb            microsoft/computervision-recipes  microsoft~computervision-recipes_nb/23_aci_aks...     False  scenarios/classification/23_aci_aks_web_servic...
73521    73521  170161374                                  2_upload_ui.ipynb            microsoft/computervision-recipes  microsoft~computervision-recipes_nb/2_upload_u...     False    contrib/html_demo/JupyterCode/2_upload_ui.ipynb
73522    73522  170161374                    12_hard_negative_sampling.ipynb            microsoft/computervision-recipes  microsoft~computervision-recipes_nb/12_hard_ne...     False  scenarios/classification/12_hard_negative_samp...
73523    73523  170161374                          10_image_annotation.ipynb            microsoft/computervision-recipes  microsoft~computervision-recipes_nb/10_image_a...     False  scenarios/classification/10_image_annotation.i...
73524    73524  170161374                          02_state_of_the_art.ipynb            microsoft/computervision-recipes  microsoft~computervision-recipes_nb/02_state_o...     False     scenarios/similarity/02_state_of_the_art.ipynb
73525    73525  170161374                    04_coco_accuracy_vs_speed.ipynb            microsoft/computervision-recipes  microsoft~computervision-recipes_nb/04_coco_ac...     False  scenarios/detection/04_coco_accuracy_vs_speed....
73526    73526  170161374                                 02_mask_rcnn.ipynb            microsoft/computervision-recipes  microsoft~computervision-recipes_nb/02_mask_rc...     False             scenarios/detection/02_mask_rcnn.ipynb
73527    73527  170161374                03_training_accuracy_vs_speed.ipynb            microsoft/computervision-recipes  microsoft~computervision-recipes_nb/03_trainin...     False  scenarios/classification/03_training_accuracy_...
73528    73528  170161374      11_exploring_hyperparameters_on_azureml.ipynb            microsoft/computervision-recipes  microsoft~computervision-recipes_nb/11_explori...     False  scenarios/detection/11_exploring_hyperparamete...
73529    73529  170161374      01_training_and_evaluation_introduction.ipynb            microsoft/computervision-recipes  microsoft~computervision-recipes_nb/01_trainin...     False  scenarios/similarity/01_training_and_evaluatio...
73530    73530  170161374  25_deployment_on_azure_apps_service_and_settin...            microsoft/computervision-recipes  microsoft~computervision-recipes_nb/25_deploym...     False  scenarios/classification/25_deployment_on_azur...
73531    73531  170161374                     20_azure_workspace_setup.ipynb            microsoft/computervision-recipes  microsoft~computervision-recipes_nb/20_azure_w...     False  scenarios/classification/20_azure_workspace_se...
79840    79840  171490796                         tfhub_basic_examples.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/tfhub_basic_examples.ipynb     False  TensorFlow Deployment/Course 4 - TensorFlow Se...
79843    79843  171490796                          Exercise 3 - Answer.ipynb                         lmoroney/dlaicourse   lmoroney~dlaicourse_nb/Exercise 3 - Answer.ipynb     False  Exercises/Exercise 3 - Convolutions/Exercise 3...
79845    79845  171490796                   S+P Week 4 Exercise Answer.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/S+P Week 4 Exercise Ans...     False  TensorFlow In Practice/Course 4 - S+P/S+P Week...
79846    79846  171490796  Custom_Federated_Algorithms,_Part_1_Introducti...                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/Custom_Federated_Algori...     False  TensorFlow Deployment/Course 4 - TensorFlow Se...
79848    79848  171490796                          Exercise 7 - Answer.ipynb                         lmoroney/dlaicourse   lmoroney~dlaicourse_nb/Exercise 7 - Answer.ipynb     False  Exercises/Exercise 7 - Transfer Learning/Exerc...
79849    79849  171490796                Course 3 - Week 3 - Lesson 1c.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/Course 3 - Week 3 - Les...     False  TensorFlow In Practice/Course 3 - NLP/Course 3...
79850    79850  171490796  NLP Course - Week 3 Exercise Answer-checkpoint...                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/NLP Course - Week 3 Exe...     False  TensorFlow In Practice/Course 3 - NLP/.ipynb_c...
79851    79851  171490796                 S+P Week 3 Exercise Question.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/S+P Week 3 Exercise Que...     False  TensorFlow In Practice/Course 4 - S+P/S+P Week...
79852    79852  171490796        NLP Course - Week 3 Exercise Question.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/NLP Course - Week 3 Exe...     False  TensorFlow In Practice/Course 3 - NLP/NLP Cour...
79854    79854  171490796  Course 2 - Part 8 - Lesson 2 - Notebook (RockP...                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/Course 2 - Part 8 - Les...     False  Course 2 - Part 8 - Lesson 2 - Notebook (RockP...
79855    79855  171490796                        Exercise 6 - Question.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/Exercise 6 - Question.i...     False  Exercises/Exercise 6 - Cats v Dogs with Augmen...
79857    79857  171490796                          TFDS_Week3_Exercise.ipynb                         lmoroney/dlaicourse   lmoroney~dlaicourse_nb/TFDS_Week3_Exercise.ipynb     False  TensorFlow Deployment/Course 3 - TensorFlow Da...
79860    79860  171490796                             Exercise2-Answer.ipynb                         lmoroney/dlaicourse      lmoroney~dlaicourse_nb/Exercise2-Answer.ipynb     False  Exercises/Exercise 2 - Handwriting Recognition...
79861    79861  171490796                          S+P_Week_1_Lesson_2.ipynb                         lmoroney/dlaicourse   lmoroney~dlaicourse_nb/S+P_Week_1_Lesson_2.ipynb     False  TensorFlow In Practice/Course 4 - S+P/S+P_Week...
79862    79862  171490796                        TFLite_Week2_Exercise.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/TFLite_Week2_Exercise.i...     False  TensorFlow Deployment/Course 2 - TensorFlow Li...
79863    79863  171490796      Course 1 - Part 4 - Lesson 2 - Notebook.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/Course 1 - Part 4 - Les...     False      Course 1 - Part 4 - Lesson 2 - Notebook.ipynb
79864    79864  171490796                          text_classification.ipynb                         lmoroney/dlaicourse   lmoroney~dlaicourse_nb/text_classification.ipynb     False  TensorFlow Deployment/Course 4 - TensorFlow Se...
79865    79865  171490796                   S+P Week 3 Lesson 4 - LSTM.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/S+P Week 3 Lesson 4 - L...     False  TensorFlow In Practice/Course 4 - S+P/S+P Week...
79866    79866  171490796                                   splits_api.ipynb                         lmoroney/dlaicourse            lmoroney~dlaicourse_nb/splits_api.ipynb     False  TensorFlow Deployment/Course 3 - TensorFlow Da...
79869    79869  171490796             S+P Week 1 - Lesson 3 - Notebook.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/S+P Week 1 - Lesson 3 -...     False  TensorFlow In Practice/Course 4 - S+P/S+P Week...
79871    79871  171490796                        TFLite_Week3_Exercise.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/TFLite_Week3_Exercise.i...     False  TensorFlow Deployment/Course 2 - TensorFlow Li...
79872    79872  171490796                          S+P Week 4 Lesson 1.ipynb                         lmoroney/dlaicourse   lmoroney~dlaicourse_nb/S+P Week 4 Lesson 1.ipynb     False  TensorFlow In Practice/Course 4 - S+P/S+P Week...
79874    79874  171490796                 Course 3 - Week 2 - Lesson 2.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/Course 3 - Week 2 - Les...     False  TensorFlow In Practice/Course 3 - NLP/Course 3...
79876    79876  171490796      Course 2 - Part 2 - Lesson 2 - Notebook.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/Course 2 - Part 2 - Les...     False      Course 2 - Part 2 - Lesson 2 - Notebook.ipynb
79877    79877  171490796                     TFServing_Week3_Exercise.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/TFServing_Week3_Exercis...     False  TensorFlow Deployment/Course 4 - TensorFlow Se...
79879    79879  171490796                         Linear-to-JavaScript.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/Linear-to-JavaScript.ipynb     False  TensorFlow Deployment/Course 1 - TensorFlow-JS...
79883    79883  171490796                          TFJS_Week3_Exercise.ipynb                         lmoroney/dlaicourse   lmoroney~dlaicourse_nb/TFJS_Week3_Exercise.ipynb     False  TensorFlow Deployment/Course 1 - TensorFlow-JS...
79884    79884  171490796      Course 1 - Part 2 - Lesson 2 - Notebook.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/Course 1 - Part 2 - Les...     False      Course 1 - Part 2 - Lesson 2 - Notebook.ipynb
79886    79886  171490796      Course 3 - Week 4 - Lesson 2 - Notebook.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/Course 3 - Week 4 - Les...     False  TensorFlow In Practice/Course 3 - NLP/Course 3...
79888    79888  171490796                          Exercise 5 - Answer.ipynb                         lmoroney/dlaicourse   lmoroney~dlaicourse_nb/Exercise 5 - Answer.ipynb     False  Exercises/Exercise 5 - Real World Scenarios/Ex...
79889    79889  171490796      Course 3 - Week 2 - Lesson 3-checkpoint.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/Course 3 - Week 2 - Les...     False  TensorFlow In Practice/Course 3 - NLP/.ipynb_c...
79891    79891  171490796                            transfer_learning.ipynb                         lmoroney/dlaicourse     lmoroney~dlaicourse_nb/transfer_learning.ipynb     False  TensorFlow Deployment/Course 4 - TensorFlow Se...
79892    79892  171490796                        Exercise 7 - Question.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/Exercise 7 - Question.i...     False  Exercises/Exercise 7 - Transfer Learning/Exerc...
79893    79893  171490796                 Course 3 - Week 2 - Lesson 3.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/Course 3 - Week 2 - Les...     False  TensorFlow In Practice/Course 3 - NLP/Course 3...
79894    79894  171490796                               Week2ExerciseQ.ipynb                         lmoroney/dlaicourse        lmoroney~dlaicourse_nb/Week2ExerciseQ.ipynb     False  TensorFlow Deployment/Course 3 - TensorFlow Da...
79897    79897  171490796                     Week 1 Exercise Question.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/Week 1 Exercise Questio...     False  TensorFlow In Practice/Course 4 - S+P/Week 1 E...
79898    79898  171490796      Course 3 - Week 4 - Lesson 1 - Notebook.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/Course 3 - Week 4 - Les...     False  TensorFlow In Practice/Course 3 - NLP/Course 3...
79899    79899  171490796          NLP Course - Week 3 Exercise Answer.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/NLP Course - Week 3 Exe...     False  TensorFlow In Practice/Course 3 - NLP/NLP Cour...
79902    79902  171490796      NLP_Week4_Exercise_Shakespeare_Question.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/NLP_Week4_Exercise_Shak...     False  TensorFlow In Practice/Course 3 - NLP/NLP_Week...
79904    79904  171490796                          S+P Week 2 Lesson 3.ipynb                         lmoroney/dlaicourse   lmoroney~dlaicourse_nb/S+P Week 2 Lesson 3.ipynb     False  TensorFlow In Practice/Course 4 - S+P/S+P Week...
79905    79905  171490796  Course 2 - Part 4 - Lesson 2 - Notebook (Cats ...                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/Course 2 - Part 4 - Les...     False  Course 2 - Part 4 - Lesson 2 - Notebook (Cats ...
79906    79906  171490796                   S+P_Week_2_Exercise_Answer.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/S+P_Week_2_Exercise_Ans...     False  TensorFlow In Practice/Course 4 - S+P/S+P_Week...
79907    79907  171490796                    S+P Week 3 Lesson 2 - RNN.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/S+P Week 3 Lesson 2 - R...     False  TensorFlow In Practice/Course 4 - S+P/S+P Week...
79909    79909  171490796                  Horse_or_Human_NoValidation.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/Horse_or_Human_NoValida...     False                  Horse_or_Human_NoValidation.ipynb
79912    79912  171490796             S+P Week 1 - Lesson 1 - Notebook.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/S+P Week 1 - Lesson 1 -...     False  TensorFlow In Practice/Course 4 - S+P/S+P Week...
79913    79913  171490796      Course 3 - Week 2 - Exercise - Question.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/Course 3 - Week 2 - Exe...     False  TensorFlow In Practice/Course 3 - NLP/Course 3...
79914    79914  171490796                 Course 3 - Week 2 - Lesson 1.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/Course 3 - Week 2 - Les...     False  TensorFlow In Practice/Course 3 - NLP/Course 3...
79916    79916  171490796                  Horse-or-Human-WithDropouts.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/Horse-or-Human-WithDrop...     False                  Horse-or-Human-WithDropouts.ipynb
79917    79917  171490796                        tfserving_hello_world.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/tfserving_hello_world.i...     False  TensorFlow Deployment/Course 4 - TensorFlow Se...
79918    79918  171490796                     TFServing_Week2_Exercise.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/TFServing_Week2_Exercis...     False  TensorFlow Deployment/Course 4 - TensorFlow Se...
79919    79919  171490796               TFLite_Week1_Linear_Regression.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/TFLite_Week1_Linear_Reg...     False  TensorFlow Deployment/Course 2 - TensorFlow Li...
79920    79920  171490796                          TFDS_Week2_Exercise.ipynb                         lmoroney/dlaicourse   lmoroney~dlaicourse_nb/TFDS_Week2_Exercise.ipynb     False  TensorFlow Deployment/Course 3 - TensorFlow Da...
79921    79921  171490796                              image_summaries.ipynb                         lmoroney/dlaicourse       lmoroney~dlaicourse_nb/image_summaries.ipynb     False  TensorFlow Deployment/Course 4 - TensorFlow Se...
79923    79923  171490796                 TFLite_Week2_Exercise_Answer.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/TFLite_Week2_Exercise_A...     False  TensorFlow Deployment/Course 2 - TensorFlow Li...
79926    79926  171490796                 S+P Week 4 Exercise Question.ipynb                         lmoroney/dlaicourse  lmoroney~dlaicourse_nb/S+P Week 4 Exercise Que...     False  TensorFlow In Practice/Course 4 - S+P/S+P Week...
79927    79927  171490796                          S+P Week 4 Lesson 3.ipynb                         lmoroney/dlaicourse   lmoroney~dlaicourse_nb/S+P Week 4 Lesson 3.ipynb     False  TensorFlow In Practice/Course 4 - S+P/S+P Week...