In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import math
import prince

In [2]:
norm_df = pd.read_pickle('full_log_normalized.pkl')

In [3]:
norm_df.head()

,nb_id,repo_id,has_author,jupyter_prop,output_cell_prop,num_contrib,image_prop,is_education,has_comments,num_commits,non_exec_prop,exec_inorder,exec_skips,has_error,has_export,num_functions,has_test,has_param,has_reqtext,num_stars
79,106,165198456,False,0.658809,0.576923,0.666667,0.500000,True,True,0.800000,0.607143,0.636364,0.846154,False,False,0.750,False,False,False,0.666667
81,108,165197188,False,0.666667,0.609375,0.666667,0.500000,True,True,0.666667,0.500000,0.666667,0.744444,False,False,0.875,False,False,False,0.666667
88,116,165201963,False,0.666667,0.625000,0.666667,0.542857,True,True,0.666667,0.510204,0.666667,0.690141,False,False,0.900,False,False,False,0.500000
89,117,165200414,False,0.666667,0.500000,0.666667,0.500000,True,True,0.666667,0.666667,0.666667,0.500000,False,True,0.500,False,False,False,0.500000
92,120,165200582,False,0.666667,0.607143,0.500000,0.647059,False,True,0.750000,0.500000,0.666667,0.689655,False,True,0.500,False,False,False,0.500000

In [4]:
norm_df = norm_df.drop(['nb_id', 'repo_id'], axis = 1)
norm_df.head()

,has_author,jupyter_prop,output_cell_prop,num_contrib,image_prop,is_education,has_comments,num_commits,non_exec_prop,exec_inorder,exec_skips,has_error,has_export,num_functions,has_test,has_param,has_reqtext,num_stars
79,False,0.658809,0.576923,0.666667,0.500000,True,True,0.800000,0.607143,0.636364,0.846154,False,False,0.750,False,False,False,0.666667
81,False,0.666667,0.609375,0.666667,0.500000,True,True,0.666667,0.500000,0.666667,0.744444,False,False,0.875,False,False,False,0.666667
88,False,0.666667,0.625000,0.666667,0.542857,True,True,0.666667,0.510204,0.666667,0.690141,False,False,0.900,False,False,False,0.500000
89,False,0.666667,0.500000,0.666667,0.500000,True,True,0.666667,0.666667,0.666667,0.500000,False,True,0.500,False,False,False,0.500000
92,False,0.666667,0.607143,0.500000,0.647059,False,True,0.750000,0.500000,0.666667,0.689655,False,True,0.500,False,False,False,0.500000

In [7]:
# instantiate FAMD object and fit to data
norm_famd = prince.FAMD(n_components = len(norm_df.columns),
                     n_iter = 10,
                     copy = True,
                     check_input = True,
                     engine = 'auto',
                     random_state = 42)
norm_famd_fit = norm_famd.fit(norm_df)

In [8]:
# put the results into dataframe format
norm_famd_df = norm_famd_fit.row_coordinates(norm_df)

# initial look at the results of the FAMD
norm_famd_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
79,833.019579,-315.164430,62.945812,-17.214714,-35.674834,-31.136130,-7.246656,-9.622757,0.227503,1.375403,1.514241,0.129740,-0.706585,0.819221,0.565640,0.242671,0.613067,0.063821
81,833.019590,-315.165363,62.945291,-17.213897,-35.676010,-31.136961,-7.247388,-9.620961,0.173829,-0.163146,0.442666,-0.122309,0.606773,-0.159968,-0.086112,-0.946820,-0.110910,0.021261
88,833.019594,-315.165762,62.945328,-17.213893,-35.676226,-31.137443,-7.247872,-9.620839,0.009673,-0.605164,0.198594,-0.117194,0.357512,0.108214,-0.688443,-0.627030,0.222580,-0.113193
89,795.929124,-35.429845,398.586888,68.715728,-18.311001,-32.696601,-5.682014,-10.398509,2.231820,-1.029939,0.375730,0.349825,-1.217533,-0.341008,0.279526,0.574406,-0.147123,0.004786
92,825.889031,312.325375,127.862636,15.553400,-58.295999,-13.232807,-8.619665,-4.191132,-0.647704,-1.905454,-0.768235,-0.115226,-0.155139,1.456186,0.918414,0.598692,-0.300768,-0.112484

In [9]:
# extract the explained variance
norm_famd_fit.explained_inertia_

[0.8187616032902119,
 0.06257866709491107,
 0.05573229671092654,
 0.025725547934733587,
 0.021533035873444874,
 0.009395508900472742,
 0.004250023113838042,
 0.0020180650201303218,
 1.2306706247120134e-06,
 7.230173423068122e-07,
 6.042090151825115e-07,
 5.119094946073463e-07,
 4.866278760915352e-07,
 4.6353146733196e-07,
 4.213340518198251e-07,
 3.822009109001755e-07,
 2.765572851918063e-07,
 1.5200326219828878e-07]